node_modules/
ignore/
revanced/
package-lock.json
revanced-builder-nodejs-macos
revanced-builder-nodejs-linux
revanced-builder-nodejs-win.exe
excludedPatchesList.json
dist/
revanced-cache/
index-old.js