node_modules/
ignore/
revanced/
revanced-builder-nodejs-macos
revanced-builder-nodejs-linux
revanced-builder-nodejs-win.exe
excludedPatchesList.json
includedPatchesList.json
dist/
revanced-cache/
index-old.js
options.toml
settings.json