@font-face {
  font-family: 'Inziu Iosevka SC Regular';
  src: url('https://github.com/chrissimpkins/codeface/blob/master/cjk-fonts/inziu-iosevka-SC/Inziu-Iosevka-SC-Regular.ttf?raw=true')
    format('truetype');
  unicode-range: U+4E00-9FFF; /* CJK characters codepoint range */
}

@font-face {
  font-family: 'Inziu Iosevka SC Bold';
  src: url('https://github.com/chrissimpkins/codeface/blob/master/cjk-fonts/inziu-iosevka-SC/Inziu-Iosevka-SC-Bold.ttf?raw=true')
    format('truetype');
  unicode-range: U+4E00-9FFF; /* CJK characters codepoint range */
}

span.log .log-line {
  font-family: 'Inziu Iosevka SC Regular', 'Fira Code', monospace;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 0.8em;
  width: 100%;
  height: 100%;
}

span.log .log-line strong {
  font-family: 'Inziu Iosevka SC Bold', 'Fira Code', monospace;
  font-weight: bold;
}

span.log .log-line.error {
  color: #d21404;
}

span.log .log-line.warn {
  color: #c4d204;
}

span.log:after {
  content: 'ï½œ';
  animation: blinking-cursor 1s steps(2, start) infinite;
}

@keyframes blinking-cursor {
  to {
    opacity: 0;
  }
}

progress {
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  border: none;
}

progress::-moz-progress-bar {
  border-radius: 25px;
  background-color: var(--accentColor);
}

progress::-webkit-progress-bar {
  background-color: var(--contrastColor);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: var(--accentColor);
  border-radius: 7px;
}
