@font-face {
  font-family: 'Source Sans HW Regular';
  src: url('/styles/fonts/Source Sans HW Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans HW Bold';
  src: url('/styles/fonts/Source Sans HW Bold.otf') format('opentype');
}

span.log .log-line {
  font-family: 'Fira Code', 'Source Sans HW Regular', monospace;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 0.8em;
  width: 100%;
  height: 100%;
}

span.log .log-line strong {
  font-family: 'Fira Code', 'Source Sans HW Bold', monospace;
  font-weight: bold;
}

span.log .log-line.error {
  color: #d21404;
}

span.log .log-line.warn {
  color: #c4d204;
}

span.log:after {
  content: '｜';
  animation: blinking-cursor 1s steps(2, start) infinite;
}

@keyframes blinking-cursor {
  to {
    opacity: 0;
  }
}

progress {
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  border: none;
}

progress::-moz-progress-bar {
  border-radius: 25px;
  background-color: var(--accentColor);
}

progress::-webkit-progress-bar {
  background-color: var(--contrastColor);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: var(--accentColor);
  border-radius: 7px;
}
