h3 {
  font-size: 1.22em;
}
h3 i {
  margin-right: 8px;
  vertical-align: revert;
}
p {
  margin-top: 10px;
}
.option {
  padding: 20px 8px 20px 8px;
  border-bottom: 2px solid var(--interactableColor);
}

.option button {
  display: block;
  margin: 0px;
}

#themecolor-picker {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -4px;
}

#themecolor-picker span {
  padding: 16px;
  transition: 200ms;
  display: inline-block;
  border-radius: 100%;
  margin: 4px;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

#themecolor-picker span.active {
  box-shadow: inset 0 0 0 2px #ddd;
}

/* toggle swtich from codepen.io/alvarotrigo/pen/GROPMZe */
.switch .check {
  display: none;
}

.switch {
  display: inline-block;
  width: 55px;
  height: 28px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #ddd, 0 0 4px #ddd;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
  background-color: var(--buttonColor);
}

.slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  transform: translateX(-27px);
  transition: 0.2s;
}

.check:checked + .slider:before {
  transform: translateX(27px);
}

.check:checked + .slider {
  background-color: var(--accentColor);
}

.option#src div {
  padding: 0 8px 0 8px;
}

.option#src div input {
  margin-bottom: 15px;
}
